.Table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  overflow: hidden;
}

.Table th {
  color: #32373d;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.Table td {
  border-top: 1px solid #ebeef2;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #707070;
}

.Table tr:last-child {
  border-bottom: 1px solid white;
}

.Table tr:hover td {
  color: #32373d;
  cursor: pointer;
  border-bottom: 1px solid #bcbec1;
  border-top: 1px solid #bcbec1;
}

.EmptyMessage {
  font-size: 1.7rem;
  width: 50%;
  margin: auto;
  text-align: center;
  color: #32373d;
}

@media (max-width: 769px) {
  .EmptyMessage {
    position: relative;
    top: -1rem !important;
  }
}

@media (max-width: 1024px) {
  .Table th {
    font-size: 1rem;
  }
  .Table td {
    font-size: 0.9rem;
  }
}
