.FormTitle {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 5rem;
  color: #1a1f36;
}

.PasswordReset {
  width: 100%;
  max-width: 448px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.PasswordResetForm {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 23rem;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.Input {
  flex-grow: 0.5;
  position: relative;
}

.Label {
  font-weight: bold;
  display: block;
  position: relative;
  color: #1a1f36;
  font-weight: 400;
  font-size: 1.6rem;
  position: relative;
  right: -0.65rem;
  transition: transform 0.2s;
  transform: translateY(-7rem);
}

.InputElement {
  outline: none;
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0.1rem solid #ebeef2;
  padding: 1rem 0.5rem;
  font-size: 1.6rem;
  background-color: rgb(232, 240, 254);
  height: 4.2rem;
}

.InputElement:placeholder-shown + .Label {
  transform: translateY(-2rem);
  visibility: hidden;
  opacity: 0;
}

.Invalid {
  border: 1px solid red;
}

.ErrorMessage {
  position: absolute;
  top: 4.5rem;
  color: red;
  transition: opacity 0.4s;
  opacity: 1;
  font-size: 1.2rem;
}

.ErrorMessage:empty {
  opacity: 0;
}

.SignInButton {
  position: absolute;
  top: 19rem;
  right: 4rem;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background: none;
  font-size: 1.4rem;
  color: #5469d4;
}
