.DrawerToggle {
  width: 8%;
  height: 5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-right: 1px solid #ebeef2;
  z-index: 800;
}

.DrawerToggle div {
  width: 85%;
  height: 1.3px;
  background-color: #469cd0;
}

@media (min-width: 769px) {
  .DrawerToggle {
    display: none;
  }
}

@media (max-width: 640px) {
  .DrawerToggle {
    display: none;
  }
}
