.FlashMessageContainer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  max-height: calc(100% - 3rem);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 1.5rem;
  width: 30rem;
}

.FlashMessage {
  padding: 0.7rem 2rem;
  border: 1px solid black;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin: 0.5rem;
  text-align: center;
}

.FlashMessage:before {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 5%;
  height: 5%;
  content: 'x';
  font-size: 1rem;
  font-weight: bold;
}

.Enter {
  opacity: 0;
  transform: translateY(-10rem);
}
.EnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms;
}

.Exit {
  opacity: 1;
}

.ExitActive {
  opacity: 0;
  transform: translateY(-10rem);
  transition: all 300ms;
}

.Error {
  color: #721c24;
  border-color: #f5c6cb;
  background-color: #f8d7da;
}

.Error:hover {
  border-color: #721c24;
}

.Success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.Success:hover {
  border-color: #155724;
}

.Info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.Info:hover {
  border-color: #004085;
}
