.LienSearchForm {
  display: flex;
  flex-flow: column;
}

.FormGroup {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 90%;
  margin: 1.5rem 0 0;
}

.FormGroup:first-of-type {
  margin-bottom: 0.5rem;
}

.Input {
  flex-grow: 0.5;
  margin-right: 1rem;
  position: relative;
}

.Label {
  font-weight: bold;
  display: block;
  position: relative;
  color: #707070;
  font-weight: 400;
  font-size: 1.2rem;
  position: relative;
  right: -0.65rem;
  transition: transform 0.2s;
  transform: translateY(-4.5rem);
}

.InputElement {
  outline: none;
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 2.5rem;
  border-radius: 5px;
  border: 0.1rem solid #ebeef2;
  padding: 0 0.5rem;
  font-size: 1.4rem;
}

.InputElement:placeholder-shown + .Label {
  transform: translateY(-2rem);
  visibility: hidden;
  opacity: 0;
}

.Invalid {
  border: 1px solid red;
}

.ErrorMessage {
  position: absolute;
  top: 2.5rem;
  color: red;
  transition: opacity 0.4s;
  opacity: 1;
}

.ErrorMessage:empty {
  opacity: 0;
}
